/* Import Awesomeness */
@import "less/mixins.less";

body {
    margin: 0;
    padding: 0;
}

.hide {
    display: none;
    visibility: hidden;
}

.navbar-fixed-top {
    margin: 0;
    width: 100%;
    .navbar-inner {
        #gradient > .vertical(#3f3f3f, #222);
    }
    a {
        border-bottom: 1px dotted #ddd;
        color: #eee;
        &:hover {
            text-decoration: none;
        }
        img {
            border: 0;
            display: block;
            margin: 20px auto 10px;
            width: 40%;
        }
    }
}

.map {
    padding: 0;
}

iframe {
    width: 100%;
}
