/* Import Awesomeness */
@import "less/mixins.less";

body {
    margin: 0;
    padding: 0;
}

.navbar-fixed-top {
    margin-bottom: 0;
    .navbar-inner {
        #gradient > .vertical(#3f3f3f, #222);
        padding: 0;
    }
}

.navbar .btn {
    margin-right: 25px;
}

.map {
    padding: 0;
}

iframe {
    width: 100%;
}

@media (max-width: 767px) {
    .map .row-fluid .span12 {
        margin-left: 20px;
    }
}
